.header {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between; /* Espaça os itens à esquerda e à direita */
  align-items: center;
  padding: 10px 40px; /* Espaçamento interno para centralizar o conteúdo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-left h1 {
  font-size: 1.5rem; /* Ajusta o tamanho do texto */
  margin: 0;
  color: #333;
}

.header-left .subtitle {
  font-size: 1rem; /* Ajusta o tamanho do texto */
  color: #333; /* Cor consistente */
  margin-top: 2px; /* Reduz o espaçamento entre o título e o subtítulo */
}

.header-nav {
  display: flex;
  gap: 20px; /* Espaçamento entre os links */
}

.header-nav a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}

.header-nav a:hover {
  color: #555; /* Cor ao passar o mouse */
}

.whatsapp-link {
  color: #333; /* Cor preta ou cinza */
  text-decoration: none;
  font-size: 2.8rem; /* Aumenta o tamanho do ícone */
}
