.instagram-section {
  display: inline;
}

.instagram-btn.header-style {
  background: transparent;
  color: var(--i-main-color);
  border: 2px solid var(--i-main-color);
  border-radius: 999px;
  padding: 8px;
  display: flex;
  align-items: center;
  box-shadow: none;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  font-size: 1.4rem;
}

.instagram-btn.header-style:hover {
  background: rgba(106, 140, 175, 0.08);
  color: var(--i-main-color-2);
  border-color: var(--i-main-color-2);
  padding: 8px;
}

.instagram-icon {
  font-size: 1.4rem;
  color: var(--i-main-color);
  transition: color 0.2s;
}

.instagram-btn.header-style:hover .instagram-icon {
  color: var(--i-main-color-2);
}
