body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #fff8f1;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

main {
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
  background: transparent;
  padding-top: 120px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marcellus", serif;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.section-block {
  margin-bottom: 56px;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
}

.section-block:not(:first-child)::before {
  content: "";
  display: block;
  height: 32px;
  width: 100vw;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    to bottom,
    #f8f1e9 20%,
    rgba(224, 224, 224, 0) 100%
  );
  z-index: 0;
  pointer-events: none;
}


:root {
  /* color */
  --i-main-color: #6a8caf;
  --i-main-color-2: #4a6a8b;
}